:root {
	--modal-color: #5f6270d0;
}

body {
  background-color: #1e212d48;
  color: #473a30;
  height: 95vh;
	width: 95vw;
  font-family: "Roboto Mono", monospace;
}

button {
	cursor: pointer;
}

input {
	margin-bottom: 10px;
	width: auto;
}

input[type="submit"] {
	 cursor: pointer;
 }

 #settings-container > label:after {
	content: ": "
}

#nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10%;
}

#app {
  display: flex;
  justify-content: center;
	height: 100%;
}

#app-container {
	flex-direction: column;
	height: 100%;
}

#timer-container {
	height: 90%;
	position: relative;
	min-height: 275px;;

}

#timer-interface-container {
	position: absolute;
	top: 50%;
	left: 50%;
}

#tomato-svg {
	width: 100%;
	z-index: -1;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* MODAL */
.modal-component {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-component-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-component-header h2,
.modal-component-footer h3 {
  margin: 0;
}

.modal-component-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-component-body {
  padding: 10px 20px;
  background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-component-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
