:root {
  --tomato: rgba(255, 0, 0, 0.514)0000;
  --leaves: rgb(0, 128, 0);
}

body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}


#app {
  display: flex;
  height: 100%;
  justify-content: center;
}

#timer-container {
  margin-top: -3em;
  align-self: center;
  height: 100%;
  justify-self: center;
}

/* TOMATO */
.container {
	display: flex;
	justify-content: center;
	margin-top: 25em;
}

#tomato {
	background: var(--tomato);
	height: 12.5em;
	width:25em;
	border-radius:0 0 12.5em 12.5em;
	position:relative;
  display: flex;
}

#tomato::before{
	content:"";
	width:8em;
	height:8em;
	border: 0.25em solid var(--tomato);
	background: var(--tomato);
	position:absolute;
	border-radius:0 8em 0 0;
	top:-8em;
	right:0;
}

#tomato::after {
	content: "";
	width:8em;
	height:8em;
	border: 0.25em solid var(--tomato);
	background: var(--tomato);
	position:absolute;
	border-radius:8em 0 0 0;
	top:-8em;
}

#tomatoFill {
	width:9em;
	height:4em;
	background: var(--tomato);
	position:absolute;
	top:-4em;
	left:8em;
	transition: all .2s ease-in-out;
}

#tomatoFill::before {
	content: "";
	width:4.5em;
	height:4em;
	background: var(--tomato);
	position:absolute;
	border-radius:0 4em 0 0;
	top:-4em;
	transition: all .2s ease-in-out;
}

#tomatoFill::after {
	content: "";
	width:4.5em;
	height:4em;
	background: var(--tomato);
	position: absolute;
	border-radius: 4em 0 0 0;
	top:-4em;
	right:0;
}

#tomatoTop {
	background: var(--leaves);
	height:4em;
	width:4em;
	border-radius:4em 0 4em 0;
	position: relative;
	transform: rotateZ(135deg);
	top:-4em;
	z-index:1;
  left: 10.5em;
}

#tomatoTop::before {
	content: "";
	background: var(--leaves);
	height:4em;
	width:4em;
	border-radius:4em 0 4em 0;
	position: absolute;
	z-index:1;
	transform: rotateZ(90deg);
	top: 3em;
}

#tomatoTop::after {
	content: "";
	background: var(--leaves);
	height:4em;
	width:4em;
	border-radius:4em 0 4em 0;
	position: absolute;
	z-index:1;
	transform: rotateZ(90deg);
	top: -0.5em;
	right: 3.25em;
}

